<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票详情</title>
</head>
<body>
    <main>
        <span>{{.voteWithOpt.Vote.Id}}</span>
        <span>{{.voteWithOpt.Vote.Title}}</span>
        <span>{{.voteWithOpt.Vote.UserId}}</span>
        <span>{{.voteWithOpt.Vote.Type}}</span>
        <span>{{.voteWithOpt.Vote.Status}}</span>
        <span>{{.voteWithOpt.Vote.CreatedTime}}</span>
        <span>{{.voteWithOpt.Vote.UpdatedTime}}</span>

        <form method="post" action="/vote">
            <input type="hidden" name="vote_id" value="{{.voteWithOpt.Vote.Id}}">
            {{range $key,$value := .voteWithOpt.Opt}}
            <input type="checkbox" name="opt[]" id="customCheck{{$key}}" value="{{$value.Id}}">
            <label  for="customCheck{{$key}}">{{$value.Name}}</label>
            {{end}}
            <button type="submit">Submit</button>
        </form>

    </main>
</body>
</html>